@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    /* telegram colors pallet (there are this colors also in tailwind.config.js) */
    --telegram-blue-primary: #0088CC;
    --telegram-blue-secondary: #179CDE;
    --telegram-gray: #8C8C8C;
    --telegram-dark: #333333;
    --telegram-light: #FFFFFF;
    /* reset swiper */
    --swiper-pagination-color: rgba(0, 0, 0, 0);
    --swiper-pagination-bullet-size: 8px;
    --swiper-pagination-bullet-width: 8px;
    --swiper-pagination-bullet-height: 8px;
    --swiper-pagination-bullet-inactive-color: rgba(0, 0, 0, 0);
    --swiper-pagination-bullet-inactive-opacity: 0.5;
    --swiper-pagination-bullet-opacity: 1;

}

/*
font-family: 'IBM Plex Sans Arabic', sans-serif;
font-family: 'Noto Sans Arabic', sans-serif; */
/* font-family: 'Roboto', sans-serif; */
body {
    font-family: 'Noto Sans Arabic', sans-serif;
}

input {
    text-align: center;
}

.latin-font {
    font-family: 'Roboto', sans-serif;
}

/* swiper global styles */
.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: var(--telegram-light);
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: auto;
    object-fit: cover;
}

/* swiper header styles*/
.header-swiper .swiper-pagination {
    display: flex;
    flex-flow: column nowrap;
    gap: 0.5rem;
    background-color: rgba(0, 0, 0, 0);
    font-weight: bold;
}

.header-swiper .swiper-pagination-bullet {
    width: 10px;
    height: 10px;
    background-color: rgba(0, 0, 0, 0);
    color: var(--telegram-light);
    opacity: 0.5;
    border-radius: 50%;
    transform: rotate(90deg);

}

.header-swiper .swiper-pagination-bullet-active {
    width: 10px;
    height: 10px;
    background-color: rgba(0, 0, 0, 0);
    color: var(--telegram-light);
    opacity: 1;
    border-radius: 50%;
    transform: rotate(90deg);

}

.header-swiper .swiper-pagination-bullet span {
    font-size: 12px;
    color: var(--telegram-light);
}

/* subslider (in section) swiper styles */
.section-swiper .swiper-pagination {
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
    justify-content: center;
    gap: 0.5rem;
    background-color: rgba(0, 0, 0, 0);
    font-weight: bold;
}

.section-swiper .swiper-pagination-bullet {
    width: 10px;
    height: 10px;
    background-color: rgba(0, 0, 0, 0);
    color: var(--telegram-dark);
    opacity: 0.5;
    border-radius: 50%;
    transform: rotate(0deg);

}

.section-swiper .swiper-pagination-bullet-active {
    width: 10px;
    height: 10px;
    background-color: rgba(0, 0, 0, 0);
    color: var(--telegram-dark);
    opacity: 1;
    border-radius: 50%;
    transform: rotate(0deg);

}

.section-swiper .swiper-pagination-bullet span {
    font-size: 12px;
    color: var(--telegram-light);
}


/* mobile menu */
.menu-hidden {
    display: none;
}

.mobile-menu-anime {
    animation-name: mobile-menu;
    animation-duration: 0.25s;
    animation-timing-function: ease-out;
    animation-iteration-count: 1;
}

@keyframes mobile-menu {
    0% {
        transform: translateX(100px);
        opacity: 0;
    }

    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}